.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-btn {
    background-color: #1b2430;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b2430;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dropdown-content a {
    color: #1b2430;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #1b2430;
}

.dropdown-content a:last-child {
    border-top: 1px solid #1b2430;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
    max-height: 200px;
    /* Set a maximum height to enable smooth transition */
}

.profile-dropdown .fa-caret-up,
.profile-dropdown .fa-caret-down {
    margin-left: 5px;
}